# Application
NODE_ENV=development
APP_NAME=cyna-api
APP_PORT=3000

# API Configuration
API_PREFIX=api
API_VERSION=v1

# Swagger
SWAGGER_ENABLED=true
SWAGGER_PATH=docs

# Logging
LOG_LEVEL=debug
LOG_FORMAT=json

# i18n
DEFAULT_LANGUAGE=fr
FALLBACK_LANGUAGE=en

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# CORS
CORS_ORIGINS=http://localhost:4200,http://localhost:8100
